@import "./font";
@import "./custom";
@import "./media";

.business {
  .business_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-top: 65px;
  }
  .Tech {
    margin-top: 5rem;

    .ms {
      margin-left: auto;
      @include lg {
        margin-left: auto;
      }
    }
    .tech_card {
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.25);
      box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      width: 478px;
      height: 630px;
      @include el {
        width: 463px;
      }
      @include lg {
        // width: 380px;
        width: 100%;
      }
      @include media {
        width: 478px;
        margin: auto;
        margin-top: 3rem;
      }
      @include media2 {
        width: 100%;
      }
      @include tech_card {
        width: 468px;
      }
      .business_card {
        margin-top: 47px;

        h3 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 35px;
          line-height: 52px;
          text-align: center;
          margin-top: 37px;
          @include lg {
            font-size: 30px;
          }
        }
        p {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          text-align: center;
          color: #9b9b9b;
          margin: 24px 20px 15px 20px;
          @include lg {
            font-size: 16px;
          }
        }
        .fs {
          font-size: 16px;
          @include lg {
            font-size: 15px;
          }
        }
      }
    }
    .tech_card:hover {
      border-top: 0.2rem solid #170749;
      h3 {
        color: #ad7979 !important;
      }
      p {
        color: #654fa5;
      }
    }
  }
}
