$para: #9b9b9b;
$primary: #170749;
$white: #fff;
$black: #000;
body {
  background-color: #f8f8f8;
}
$icon: #8c8e90;
.blue {
  color: #170749;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  margin-top: 7rem;
}
