@import "./font";
footer {
  .footer_part_1 {
    h5 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #696969;
      margin-bottom: 17px;
      @include media {
        font-size: 13px;
      }
    }
    h4 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #696969;
      margin-top: 91px;
      @include media {
        font-size: 18px;
      }
    }
    .number {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */
      color: rgba(8, 30, 87, 0.75);
      @include footer2 {
        font-size: 16px;
      }
    }
  }
  .footer_box {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    @include media3 {
      flex-direction: column;
    }
  }
  .footer_part_2 {
    h4 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: $black;
      margin-bottom: 35px;
      @include media {
        font-size: 18px;
      }
      @include media3 {
        font-size: 17px;
      }
    }
    h5 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 15px;
      margin-bottom: 27px;
      color: rgba(105, 105, 105, 0.75);
      @include media3 {
        font-size: 15px;
      }
    }
    .Privacy {
      @include modal {
        font-size: 13px;
      }
    }
  }
  .footer_bottom {
    .footer_div {
      display: flex;
      justify-content: space-between;
      @include media3 {
        flex-direction: column;
      }

      h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */

        color: #696969;
      }
      .footer_bottom_part2 {
        .icon {
          width: 36px;
          height: 36px;
          background: #ffffff;
          border: 1px solid #9b9b9b;
          box-sizing: border-box;
          border-radius: 50%;
          // padding: 5px 7px 5px 7px;
          margin-right: 10px;

          @include media3 {
            margin-bottom: 10px;
          }
          .fab {
            color: $icon;
          }
        }
      }
    }
  }
}
