@import "./font";
@import "./custom";
@import "./media";
.header {
  .title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 92px;
    margin-top: 112px;
    margin-bottom: 50px;
    color: $white;
    font-family: "Roboto Slab", serif;
    @include media {
      font-size: 57px;
      text-align: center;
    }
    @include feature_row {
      font-size: 42px;
      line-height: 72px;
    }
    @include media3 {
      font-size: 36px;
      line-height: 52px;
    }
    @include media4 {
      font-size: 36px;
      line-height: 40px;
    }
    @include media5 {
      font-size: 33px;
      line-height: 40px;
    }
  }
  .main_btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 60px;
    background: $white;
    border-radius: 7px;
    margin-top: 6rem;
    margin-bottom: 2rem;
    @include media {
      margin: auto;
      padding: 22px 52px;
    }
    @include media3 {
      margin: auto;
      padding: 18px 40px;
    }
    @include media5 {
      padding: 16px 36px;
    }

    a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;
      text-decoration: none;
      color: #170749;
      font-family: "Roboto", serif;
      @include media3 {
        font-size: 26px;
      }
      @include media5 {
        font-size: 23px;
      }
    }
  }
  .header_img {
    width: 575px;
    margin-top: 112px;
    @include media {
      width: 100%;
      margin-top: 70px;
    }
    @include media3 {
      width: 90%;
      margin-top: 70px;
    }
    @include media4 {
      width: 80%;
      margin-top: 70px;
    }
  }
}
